#Gemini api key and models
GEMINI_API_KEY= Your_Gemini_Ai_API_key_here
GEMINI_MODEL=gemini-3.5-flash-lite

# Discord Bot
DISCORD_BOT_TOKEN=Your_Discord_bot_Token_here

# eSewa ePay v2 Credentials (same for testing phase)
ESEWA_PRODUCT_CODE=EPAYTEST
ESEWA_SECRET_KEY=8gBm/:&EnhH.1/q
ESEWA_PAYMENT_URL=https://rc-epay.esewa.com.np/api/epay/main/v2/form
ESEWA_VERIFY_URL=https://rc-epay.esewa.com.np/api/epay/transaction/status/